
&
  background: linear-gradient(90deg, $color 0%, $highlight 100%)
  // height: 100%

body
  standard-voice()
  color: rgba($black, 0.8)

// sort out for global
.home-link
  display: block
  overflow: hidden
  width: 100% // $todo - sort this out...

button
  background: none
  border: 0
  margin: 0
  padding: 0


.tax
  h2
    calm-voice()
  p
    margin-top: $pad
    em
      font-style: italic
  .x
    margin-top: $pad*2
