/*
Theme Name: Office vs. Office 2019
Theme URI: n/a
Author: @sheriffderek
Author URI: https://sheriffderek.consulting
Description: Custom theme Office vs. Office
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sheriffderek-consulting
Tags: sheriffderek
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import 'basic/_index'

@import 'components/_site-header'
@import 'components/_site-footer'
@import 'components/_blocks'
.theme-name
  @import '_theme'
